:root {
  --white: #fff;
  --gray-100: #fafafa;
  --gray-200: #F9F8FC;
  --gray-300: #EDEDED;
  --gray-400: #cbc8d0;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #444;
  --gray-800: #343a40;
  --gray-900: #17141F;
  --black: #000;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #492a61;
  --pink: #e83e8c;
  --red: #FC3939;
  --orange: #fd7e14;
  --yellow: #EFA31D;
  --green: #13B955;
  --teal: #20c997;
  --cyan: #009CDC;
  --primary: purple;
  --secondary: #A991D4;
  --success: green;
  --info: cyan;
  --warning: yellow;
  --danger: red;
  --light: gray-200;
  --dark: gray-900;
  --body-color: gray-700;
  --dropdown-link-color: gray-700;
  --dropdown-link-hover-color: white;
  --dropdown-link-hover-bg: primary;
  --navbar-dark-hover-color: rgba(white, .9);
}

body {
  padding-top: 56px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.img-wrapper {
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 45%;
}

.text-primary {
  color: #006CB7 !important;
}

.btn-success {
  color: #fff;
  background-color: #64B99C;
  border-color: #64B99C;
}

.btn-success:hover {
  color: #fff;
  background-color: #66CDB1;
  border-color: #66CDB1;
}

.btn-primary {
  color: #fff;
  background-color: #492B60;
  border-color: #492B60;
}

.btn-primary:hover {
  color: #fff;
  background-color: #6B3F8C;
  border-color: #6B3F8C;
}